In [31]:
import pandas as pd

In [32]:
df1 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train1') # The URL points to a raw CSV file on GitHub
print(df1.shape)

df2 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train2') # The URL points to a raw CSV file on GitHub
print(df2.shape)

df3 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train3') # The URL points to a raw CSV file on GitHub
print(df3.shape)

df4 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train4') # The URL points to a raw CSV file on GitHub
print(df4.shape)

df5 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train5') # The URL points to a raw CSV file on GitHub
print(df5.shape)

df6 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_train6') # The URL points to a raw CSV file on GitHub
print(df6.shape)

(2053, 4)
(2178, 4)
(2154, 4)
(2183, 4)
(2087, 4)
(2073, 4)

In [33]:
train_df = pd.concat([df1, df2, df3, df4, df5, df6])
train_df.to_csv('Data/train_data.csv', encoding='utf-8', index=False)

In [34]:
train_df

,Unnamed: 0,question_text,question_tokens,answer
0,0,when is the last episode of season 8 of the wa...,"['when', 'is', 'the', 'last', 'episode', 'of',...","March 18 , 2018"
1,1,in greek mythology who was the goddess of spri...,"['in', 'greek', 'mythology', 'who', 'was', 'th...",Persephone ( / pərˈsɛfəni / ; Greek : Περσεφό...
2,6,what is the name of the most important jewish ...,"['what', 'is', 'the', 'name', 'of', 'the', 'mo...",the Shulchan Aruch
3,8,what is the name of spain's most famous soccer...,"['what', 'is', 'the', 'name', 'of', 'spain', ""...",Real Madrid
4,9,when was the first robot used in surgery,"['when', 'was', 'the', 'first', 'robot', 'used...",1983
...,...,...,...,...
2068,6120,who won nba finals mvp on a losing team,"['who', 'won', 'nba', 'finals', 'mvp', 'on', '...",Jerry West
2069,6130,who is responsible for enforcing the data prot...,"['who', 'is', 'responsible', 'for', 'enforcing...",the Information Commissioner 's Office
2070,6131,what is the name of beethoven's only opera,"['what', 'is', 'the', 'name', 'of', 'beethoven...",Fidelio
2071,6135,all standard classes of java are included with...,"['all', 'standard', 'classes', 'of', 'java', '...",java. util
2072,6138,where did the name the bronx come from,"['where', 'did', 'the', 'name', 'the', 'bronx'...","Jonas Bronck , who established the first sett..."

In [35]:
df7 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_test1') # The URL points to a raw CSV file on GitHub
print(df7.shape)

df8 = pd.read_csv('https://raw.githubusercontent.com/ShreyAgarwal11/NLP_Project/main/NQ_Dataset/nq_test2') # The URL points to a raw CSV file on GitHub
print(df8.shape)

(2225, 4)
(2121, 4)

In [40]:
test_df = pd.concat([df7, df8])
test_df.to_csv('Data/test_data.csv', encoding='utf-8', index=False)

In [41]:
test_df

,Unnamed: 0,question_text,question_tokens,answer
0,0,which is the most common use of opt-in e-mail ...,"['which', 'is', 'the', 'most', 'common', 'use'...",a newsletter sent to an advertising firm 's c...
1,1,how i.met your mother who is the mother,"['how', 'i.met', 'your', 'mother', 'who', 'is'...",Tracy McConnell
2,3,who had the most wins in the nfl,"['who', 'had', 'the', 'most', 'wins', 'in', 't...",Tom Brady
3,6,who played mantis guardians of the galaxy 2,"['who', 'played', 'mantis', 'guardians', 'of',...",Pom Klementieff
4,15,the nashville sound brought a polished and cos...,"['the', 'nashville', 'sound', 'brought', 'a', ...",the use of lush string arrangements with a re...
...,...,...,...,...
2116,6052,what kind of dog did they use in game of thrones,"['what', 'kind', 'of', 'dog', 'did', 'they', '...",Northern Inuit dogs
2117,6053,when does the war of the planet of the apes start,"['when', 'does', 'the', 'war', 'of', 'the', 'p...","July 14 , 2017"
2118,6056,when is the next episode of george gently bein...,"['when', 'is', 'the', 'next', 'episode', 'of',...",2017
2119,6059,who wrote the song you take my breath away,"['who', 'wrote', 'the', 'song', 'you', 'take',...",Giorgio Moroder
2120,6063,who passed on michael jordan in the nba draft,"['who', 'passed', 'on', 'michael', 'jordan', '...",The Houston Rockets